/* ===== Reset ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  line-height:1.6;
  color:#222;
  background:#fafafa;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* ===== Header ===== */
header{
  background:#0b2a45;
  padding:12px 0;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo img{
  width:140px;
}

.menu{
  list-style:none;
  display:flex;
  gap:22px;
}

.menu a{
  color:white;
  text-decoration:none;
  font-weight:600;
}

.menu a:hover{
  color:#f4b400;
}

/* ===== Section ===== */
section{
  padding:60px 0;
  text-align:center;
}

h2{
  margin-bottom:20px;
}

/* ===== Hero ===== */
.hero{
  height:75vh;
  background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
  url("images/home/h1.jpg");
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
}

.hero h1{
  font-size:42px;
}

.btn{
  display:inline-block;
  margin-top:15px;
  padding:10px 22px;
  background:#f4b400;
  color:black;
  border-radius:5px;
  text-decoration:none;
}

/* ===== Cards ===== */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

/* ===== GALLERY SECTION ===== */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
  padding: 40px 20px;
}

/* image box */
.gallery img {
  width: 100%;
  height: 220px;        /* control size here */
  object-fit: cover;    /* no stretch */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

/* hover effect */
.gallery img:hover {
  transform: scale(1.05);
}

/* ===== Video ===== */
iframe{
  width:100%;
  height:450px;
  border-radius:10px;
}

/* ===== Footer ===== */
footer{
  background:#0b2a45;
  color:white;
  padding:25px 0;
  text-align:center;
  margin-top:40px;
}

/* ===== WhatsApp Floating ===== */

.whatsapp-float{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-float img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.whatsapp-float img:hover{
  transform: scale(1.1);
}